<h1>Frontend Angular Test</h1>
<p>Follow the list below in numerical order and complete the exercises. Good luck and have fun!</p>
<ol>
    <a href='/#/fizzbuzz'><li>FizzBuzz Exercise</li></a>
    <a href='/#/textSearch'><li>Count/show the number of occurances that a string of text appears in an article. Be creative!</li></a>
    <a href='/#/videos'><li>Display a list of videos using Vimeo api. </li></a> <a href='https://developer.vimeo.com/api/endpoints/'>https://developer.vimeo.com/api/endpoints/</a>
    <a href='/#/something'><li>{Do something cool!}</li></a>
</ol>
