<h1>Frontend Exercises</h1>
<p>Follow the list below in numerical order and complete the exercises. Good luck and have fun!</p>
<ol>
    <li>
        <a href="/#/fizzbuzz">FizzBuzz Exercise</a>
    </li>
    <li>
        <a href="/#/text-search">Count/show the number of occurances that a string of text appears in an article. Be creative!</a>
    </li>
    <li>
        <a href="/#/videos">Display a list of videos</a>
        using the <a href="https://developer.vimeo.com/api/endpoints/">Vimeo API</a>.
    </li>
    <li>
        Cards
    </li>
    <li>
        <a href="/#/something">{Do something cool!}</a>
    </li>
</ol>
